.continer{
    display: flex;
    flex-direction:column ;
    width: 95vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
body{
    text-align: center;
    background-color: cornsilk;
}
input{
    margin: 20px;
    padding: 1rem;
    font-size: large;
    border: 2px solid rgb(0, 195, 255);
}
output{
    margin: 20px;
    padding: 1 rem;
}
button{
    padding: 1rem;
    border: 2px solid black;
}
ul li{
    display: inline;
}
footer{
    font-size: x-large;
}